body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh;
}

.container {
  text-align: center;
}

@keyframes neon-pulse {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00e4, 0 0 70px #ff00e4, 0 0 80px #ff00e4, 0 0 100px #ff00e4, 0 0 150px #ff00e4;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00e4, 0 0 70px #ff00e4, 0 0 80px #ff00e4, 0 0 100px #ff00e4, 0 0 150px #ff00e4;
  }
}

.neon-title {
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00e4, 0 0 70px #ff00e4, 0 0 80px #ff00e4, 0 0 100px #ff00e4, 0 0 150px #ff00e4;
  margin-bottom: 50px;
  animation: neon-pulse 2s linear infinite; /* Aplicar la nueva animación */
}

.whatsapp-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #D8B4FE; /* Color de WhatsApp en tono pastel lila */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.whatsapp-button:hover {
  background-color: #BA8DFE; /* Color de WhatsApp más oscuro al pasar el mouse */
  transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el mouse */
}
/* Media queries para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Ajuste el padding para dispositivos móviles */
    }

    .logo {
        font-size: 24px; /* Reducir el tamaño del logotipo para dispositivos móviles */
    }

    .navigation {
        display: none; /* Ocultar la navegación en dispositivos móviles */
    }

    .navigation li {
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .navigation li a {
        display: block;
        padding: 10px;
        border-radius: 5px;
    }

    footer {
        padding: 15px 0; /* Ajustar el padding del pie de página para dispositivos móviles */
    }

    main {
        flex-direction: column; /* Cambiar la dirección de los elementos principales a columna */
    }

    article, aside {
        flex-basis: 100%; /* Establecer el ancho completo en dispositivos móviles */
    }
}

